<div class="panel panel-default">
	<div class="panel-heading">
	  <p class="panel-title"><span style="color:#5bc0de;" class="glyphicon glyphicon-plus"> </span> Add New Employee</p>
	</div>
	<div class="panel-body">
		<form>
    
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" ng-model="database.email">
    </div>
    
    <div class="form-group">
      <label for="user_id">User_ID:</label>
      <input type="text" class="form-control" id="user_id" ng-model="database.user_id">
    </div>
    
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" ng-model="database.password">
    </div>

    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username" ng-model="database.username">
    </div>
    
    <div class="form-group">
      <label for="staff_id">Staff ID :</label>
      <input type="text" class="form-control" id="staff_id" ng-model="database.staff_id">
    </div>
    
    <button type="submit" ng-submit="addData(database)" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Save</button>
    <a href="#/setting" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent"> Cancle</a>
</form>	
    <div>
<div>		